<div class="aParent">
  <div class="users-box">
    <button class="new-user-button" (click)="open(content)">New User</button>
    <ul class="users">
      <li *ngFor="let user of users">
        <div class="user-image">
          <div *ngIf=user.imageModel>
            <img [src]="convertImage(user.imageModel)">
          </div>
          <div *ngIf=!user.imageModel>
            <span style="color: white">AB</span>
          </div>
        </div>
        <div class="user-badge" (click)="selectUser(user)">
          {{user.name}} {{user.surname}}
        </div>
      </li>
    </ul>
  </div>
  <div class="users-details-box">
    <app-user-detail [selectedUser]="selectedUser"></app-user-detail>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Add new User
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      <span aria-hidden="true">
        ×
      </span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">
          Name*
        </label>
        <div class="input-group mb-2" >
          <input  ng-model="newUser.name" id="name" class="form-control" placeholder="Name">
        </div>

        <label for="surname">
          Surname*
        </label>
        <div class="input-group mb-2" >
          <input ng-model="newUser.surname" id="surname" class="form-control" placeholder="Surname">
        </div>

        <label for="cf">
          Fiscal Code
        </label>
        <div class="input-group mb-2">
          <input ng-model="newUser.cf" id="cf" class="form-control" placeholder="Fiscal Code">
        </div>

        <label for="dateOfBirth">
          Date of birth
        </label>
        <div class="input-group mb-2" >
          <input  id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker">

          <div class="input-group-append">
            <button class="btn  
                          btn-outline-secondary calendar" (click)="dp.toggle()" type="button">select here
            </button>
          </div>
        </div>
        <label for="image">
          Upload User Image
        </label>
        <div class="input-group">
          <input id="image" type="file" (change)="onFileChanged($event)">
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveNewUser();modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>