/* HeroesComponent's private CSS styles */
.aParent div {
  float: left;
  clear: none;
}
.users-box {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 90vh;
  width: 25%;
  min-width: 30vh;
  margin-right: 25px;
  overflow-y: auto;
}
.users-details-box {
  background-color: lightgrey;
  border-radius: 20px;
  height: 90vh;
  width: 73%;
  min-width: 30vh;
}
.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding-top: 5px;
  padding-left: 15px;
}
.users li {
  height: 50px;
  padding-bottom: 10px;
}

.user-image {
  float: left;
  position: relative;
  overflow: hidden;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50px;
  background-color: black;
}
.user-image img {
  height: 55px;
  width: 100%;
  display: block;
}
.user-badge {
  cursor: pointer;
  color: #333;
  background-color: #eee;
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.5em;
  padding-left: 10px;
  height: 2em;
  width: 75%;
  border-radius: 4px;
}

.user-badge:hover {
  color: #607d8b;
  background-color: #ddd;
}
button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
button:hover {
  background-color: #cfd8dc;
}
.new-user-button {
  background-color: red;
  font-size: medium;
  color: white;
  padding: 5px;
  margin: 8px;
  display: block;
  margin-left: auto;
  margin-right:5%;
}
