<div class="aParent">
  <div class="users-box">
    <button class="new-user-button" (click)="openInsertUserWindow()">New User</button>
    <ul class="users">
      <li *ngFor="let user of users" >
        <div class="user-image">
          <div *ngIf=user.imageModel>
            <img [src]="convertImage(user.imageModel)">
          </div>
          <div  *ngIf=!user.imageModel>
            <span style="color: white">AB</span>
          </div>
        </div>
        <div class="user-badge" (click)="selectUser(user)">
          {{user.name}} {{user.surname}}
        </div>
      </li>
    </ul>
  </div>
  <div class="users-details-box">
    <app-user-detail [selectedUser]="selectedUser"></app-user-detail>
  </div>
</div>